@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
    /* background-image: linear-gradient(to top, #051937, #572b5e, #ab3a61, #e36644, #ebae12); */
}

.calculator-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 20px;
    color: #ffffff;
}

.calculator-header i{
    font-size: 32px;
    margin-right: 10px;
}

.calculator-header h1{
    font-size: 50px;
    margin-left: 10px;
    font-family: 'Handjet';
}

.calculator{
    border: none;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    background-image: linear-gradient(to top, #051937, #572b5e, #ab3a61, #e36644, #ebae12);
    box-shadow: inset 3px 3px 15px #000,
            inset -3px -3px 15px #000;
    filter: saturate(2);
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    background-color: transparent;
    box-shadow: inset 3px 3px 20px rgb(0, 0, 0),
    inset -3px -3px 20px rgb(0, 0, 0);
    font-size: 40px;
    text-align: right !important;
    cursor: pointer;
    color: #fff;
    border-radius: 16px;
    margin-left: 0.3rem;
    margin-bottom: 0.5rem;
}

input::placeholder{
    color: #fff;
}

input:focus{
    outline: none;
}

button{
    border: none;
    width: 3.75rem;
    height: 3.75rem;
    margin: 10px;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    box-shadow: inset 2px 2px 6px rgb(40, 27, 27),
            inset -2px -2px 6px ;
    cursor: pointer;
    
}

button:hover{
    box-shadow: 2px 2px 12px rgb(40, 27, 27),
            -2px -2px 12px;
}

.equal-btn{
    background-color: #ff8800;
}

.operator{
    color: #b8ff1de0;
}

